{% extends 'main/base.html' %}
{% block title %}Статьи{% endblock %}
{% block list %}Статьи{% endblock %}
{% block button %}<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="{% url 'vvod' %}" role="button">Добавить статью</a> {% endblock %}
{% block content %}



{% if latest_articles_list %} {% for a in latest_articles_list %}
<div class="text-center">

    <a href="{% url 'detail' a.id %}">{{a.article_title}}</a>
    {% endfor %}

    {% else %}
    нет статей )=
    {% endif %}


</div>

{% endblock %}

<span class="ripple">
                  <span class="ripple__circle ripple__circle--white"></span>
                </span>