<!doctype html>
<html lang="ru">
<body class="card shadow"></body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
    {% load static %}
    {# Load the tag library #}
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% if request.user.is_authenticated %}
<style> body {font-family: 'Open Sans', serif;font-size: 18px;text-shadow: 4px 4px 4px #aaa;}</style>
<nav class="navbar navbar-expand-lg navbar-light  ">
  <div class="container-fluid">
    <a class=" navbar-brand" href="">[testo]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>




    <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
        <ul class="navbar-nav col-md-auto container ">
        <li><a href="{% url 'home' %}" class="nav-link material-icons">home Главная</a></li>
        <li><a href="{% url 'about' %}" class="nav-link material-icons">assignment Статьи</a></li>
        <li><a href="{% url 'notes' %}" class="nav-link material-icons">description Заметки</a></li>
        <li><a href="admin" class="nav-link material-icons">admin_panel_settings админка</a></li>
        <li><a href="#" class="nav-link material-icons">adb FAQs</a></li>
      </ul>
        <span class="badge bg-secondary">{% now " j.n.y H:i" %}</span>

{% if user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item dropdown dropdown-menu-end">
          <button class="btn btn-bd-light dropdown-toggle"  id="navbarDarkDropdownMenuLink"  data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
              <span class="material-icons">face</span>
          </button>

          <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'user' %}">{{ user.first_name }} {{ user.last_name }}</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Выйти</a></li>
              {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}?next={{request.path}}">Войти</a></li>
              {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



    <!-- Блок с названием страниц -->
    <div class="card shadow ">
        <div style="font-family: 'Open Sans', serif; text-shadow: 4px 4px 4px #aaa; font-size: 48px">
            <div class="shadow-lg p-3 mb-5 bg-body rounded text-center">
                {% block list %} {% endblock %}
            </div>
        </div>

    <!-- Блок для кнопки -->
    <div class="d-grid  col-2 mx-auto">
    {% block button %} {% endblock %}
    </div>
<br>
    <!-- Блок страниц -->
    <body class="card shadow" style="">
    {% block content %} {% endblock %}
    </body>
    <!-- Если не авторизован. предложит пройти регистрацию -->
        {% else %}
        <a class=" container" href="{% url 'home' %}">Венутся на главную страницу.</a>
        <br><br><br>
            <div class="card text-center container" style="width: 18rem;">
              <ul class="list-group list-group-flush text-dark">
                  <p>Вы не авторизованы!</p>
                <li class="list-group-item"><a href="/accounts/signup/">Регистрация</a></li>
                <li class="list-group-item"><a href="{% url 'login' %}">Вход с логином и паролем</a></li>
                <li class="list-group-item"><a href="{% url 'login' %}">Сброс пароля</a></li>
              </ul>
                <ul class="socialaccount_providers">
                    <p>Войти через аккаунт
                      <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google<span class="material-icons">android</span></a>
                    </p>
                </ul>
            </div>
        {% endif %}
</div>
</html>
