{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}



{% block content %}

<div style="font-size: 40px" class="shadow-lg p-3 mb-5 bg-body rounded text-center" >Страница заметок <a class="btn btn-primary" href="{% url 'test' %}" role="button">Добавить заметку</a><br></div>


<div class="card row row-cols-1 row-cols-md-4 g-4 container">
    {% for el in tasks %}

        <div class="col ">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h3 class="card-title ">{{ el.title }}</h3>
              <p class="card-text">{{ el.task }}</p>
            </div>
            <div class="card-footer ">
                <small class="text-white">{{el.author_name}}</small>
                <small class="text-white">{{el.pub_date}}</small>
            </div>
          </div>
        </div>


    {% endfor %}
</div>
            <br>

{% endblock %}